body {
	max-width: 800px;
	margin: auto;
	padding: 10px;
  	background-color: rgb(30,30,30);
	color: white;
	line-height: 1.3;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
}
img {
	max-width: 100%;
}
hr {
	color: transparent;
}
tr,td {
	border: 1px solid white !important;
}
a {
	color: #00A0FF;
	color: #00FFFF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
main {
	min-height: 400px;
}
header .title a {
	font-weight: bold;
	font-size: 35px;
	text-decoration: none;
	color: white;
}
article h1 {
	margin-bottom: 0px;
}
article h2 {
	font-size: 20px;
}
article h3 {
	font-size: 18px;
}
footer, .footnotes {
	font-size: 14px;
}
footer, .footnotes p {
	margin: 5px;
}
.index {
	text-align: center;
}
blockquote {
	margin: 17px 15px 17px 15px;
}
@media screen and (max-width: 800px) {
	blockquote {
		margin: 17px 10px 17px 10px;
	}
}
