<!DOCTYPE html>
<html>

<head>
{{ block "head" . }}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ .Site.Title }}</title>

{{ range readDir "assets/css" }}
{{ if eq (path.Ext .Name) ".css" }}
{{ $style := resources.Get (printf "css/%s" .Name) }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}
{{ end }}

{{ range readDir "assets/js" }}
{{ if eq (path.Ext .Name) ".js" }}
{{ $script := resources.Get (printf "js/%s" .Name) }}
<script src="{{ $script.RelPermalink }}" defer></script>
{{ end }}
{{ end }}

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

{{ end }}
</head>

<body>

<header>
{{ $headerPartial := printf "partials/%s/header.html" .Section }}
{{ if templates.Exists $headerPartial }}
	{{ partial $headerPartial . }}
{{ else }}
	{{ partial "header.html" . }}
{{ end }}
</header>

<main>
{{ $navPartial := printf "partials/%s/nav.html" .Section }}
{{ if templates.Exists $navPartial }}
	{{ partial $navPartial . }}
{{ else }}
	{{ partial "nav.html" . }}
{{ end }}

{{ block "main" . }}
<!-- This will be replaced by content from other templates -->
{{ end }}
</main>

<footer>
{{ $footerPartial := printf "partials/%s/footer.html" .Lang }}
{{ if templates.Exists $footerPartial }}
	{{ partial $footerPartial . }}
{{ else }}
	{{ partial "footer.html" . }}
{{ end }}
</footer>

</body>
</html>
