<div class="footer-content">
    <div class="copyright">
      &copy; {{ now.Format "2006" }} {{ .Site.Title }}. All rights reserved.
    </div>
    <div class="social-links">
      {{ with .Site.Params.twitter }}
        <a href="https://twitter.com/{{ . }}" target="_blank">Twitter</a>
      {{ end }}
      {{ with .Site.Params.github }}
        <a href="https://github.com/{{ . }}" target="_blank">GitHub</a>
      {{ end }}
      {{ with .Site.Params.linkedin }}
        <a href="https://linkedin.com/in/{{ . }}" target="_blank">LinkedIn</a>
      {{ end }}
    </div>
  </div>
