{{ $pages := .Pages }}
{{ $sortedPages := sort $pages "File.Path" }}

{{ $customSort := slice }}
{{ range $sortedPages }}
  {{ $filename := .File.LogicalName }}
  {{ $parentDir := path.Base .File.Dir }}
  
  {{ if eq $filename "_index.md" }}
    {{ $customSort = $customSort | append (dict "page" . "sortKey" $parentDir "permalink" .Permalink) }}
  {{ else }}
    {{ $customSort = $customSort | append (dict "page" . "sortKey" $filename "permalink" .Permalink) }}
  {{ end }}
{{ end }}

{{ $sortedCustom := sort $customSort "sortKey" }}

<ul>
{{ range $sortedCustom }}
{{ $page := .page }}
<li>
 <a href="{{ .permalink }}">{{ $page.Title }}</a>
</li>
<div>{{ $page.Params.Summary }}</div>
{{ end }}
</ul>

