<nav class="navbar">

<div class="logo">
<a href="{{ .Site.Home.RelPermalink }}">
<img src="/images/logo.svg" alt="Extra Ecclesia Nulla Salus">
</a>

</div>

<!--
<div>
{{ $currentLang := .Site.Language.Lang }}
{{ if eq $currentLang "en" }}
<span class="emoji">🇬🇧</span>
{{ else if eq $currentLang "fr" }}
<span class="emoji">🇫🇷</span>
{{ end }}
</div>
-->

<div class="hamburger">
<div class="line"></div>
<div class="line"></div>
<div class="line"></div>
</div>

<ul class="nav-links">
{{ $currentPage := . }}
{{ range .Site.Menus.main }}
<li>
<a href="{{ .URL }}">
{{ with .Pre }}{{ . | safeHTML }}{{ end }}
{{ .Name }}
</a>
</li>

{{ end }}
</ul>

</nav>

