{{ if gt .Paginator.TotalPages 1 }}
<nav class="pagination" role="navigation" aria-label="pagination">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}" class="pagination-previous">Previous</a>
    {{ else }}
    <a class="pagination-previous" disabled>Previous</a>
    {{ end }}

    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" class="pagination-next">Next</a>
    {{ else }}
    <a class="pagination-next" disabled>Next</a>
    {{ end }}

    <ul class="pagination-list">
        {{ range .Paginator.Pagers }}
        <li>
            <a href="{{ .URL }}" class="pagination-link{{ if eq . $.Paginator }} is-current{{ end }}" aria-label="Page {{ .PageNumber }}" aria-current="{{ if eq . $.Paginator }}page{{ end }}">
                {{ .PageNumber }}
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}
