{{ define "main" }}

{{ $currentLang := .Site.Language.Lang }}
{{ $defaultLang := .Site.Home.Language.Lang }}

{{ if eq $currentLang $defaultLang }}
   <hr>
   {{ partial "latestblog.html" . }}
   <hr>
   <div class="content">
   <article>
   {{ .Content }}
   </article>
   </div>
   {{ partial "listposts.html" . }}
{{ else }}
   <hr>
   {{ partial "latestblog.html" . }}
   <hr>
   <div class="content">
   <article>
   {{ .Content }}
   </article>
   </div>
   {{ partial "listposts.html" . }}
{{ end }}

{{ end }}
